
.register-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 400px; /* Breite des Containers */
    margin: 20px auto; /* Zentriert den Container und fügt vertikalen Abstand hinzu */
    color: rgb(255, 255, 255);
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="date"] {
    width: 70%; /* Breite der Eingabefelder */
    padding: 17px;
    margin: 8px;
    border: none;
    border-radius: 5px;
}

.register-container button {
    width: 70%; /* Breite des Buttons */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Übergangseffekt für Hover */
}

.register-container button:hover {
    background-color: #e0e0e0; /* Hintergrundfarbe des Buttons beim Hover */
    color: black; /* Textfarbe des Buttons beim Hover */
}